h1 {   
    background-color: powderblue;   
    color: rgb(105, 140, 145);
    text-align: center;   
    padding: 20px;
    font-family: fantasy;
    }

h2 {    
    color: rgb(131, 84, 131); 
    text-align: center;   
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    }

h3 {   
    color: rgb(94, 81, 94);   
    text-align: center;   
    padding: 20px;
    font-family: fantasy;
    }
.bold {

    background-color: thistle;  
    color: rgb(94, 81, 94); 
    text-align: center;   
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
}

    h4 {  
         background-color: rgba(208, 228, 208, 0.973);  
         color: rgb(105, 136, 105);   
         text-align: center;   
         padding: 20px;
         font-family: 'Courier New', Courier, monospace;
         font-size: medium;
         }
body { background-color: rgb(241, 246, 247);}

p {
     text-align: center;
     color: black;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     
    }

.left {
     text-align: left;
     font-size: large;
     padding-left: 300px;
    }

.colour {
         color: rgb(131, 84, 131); 
        }


nav{
    text-align: center;
    color: rgba(96, 138, 139, 0.836);
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
       }
a:hover {
    color: rgb(33, 33, 131);
     }
footer  {font-size: small;}

.column {
    float:right;
    width:50%;  
}